services:
  node:
    build:
      context: .
      args:
        - NODE_ENV=development
    image: dev_server:v0.0.0
    container_name: server
    volumes:
      - ./:/usr/local/app/
      - ./package.json:/usr/local/package.json
      - ./package-lock.json:/usr/local/package-lock.json
      - exclude:/usr/local/app/node_modules/
    environment:
      - PG_CONNECTION_STRING=postgres://admin:password@postgres/starter
      - PORT=3000
      - CORS_ORIGIN=true
    ports:
      - '3000:3000'
    depends_on:
      - 'postgres'
    command: >
      sh -c 'rm -rf /usr/local/app/node_modules/* &&
            /wait-for-it.sh postgres:5432 &&
             npm run migrate &&
             npm run nodemon'
  postgres:
    image: postgres:13
    container_name: database
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=starter
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  exclude:
